<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./index.js" defer></script> -->
    <title>Chat Page</title>
</head>
<body>
    <h1>Chat with those interested in Climbing!</h1>
    <div id="wrapper">
        <div id="chatbox">
            <textarea id="chat-log" cols="100" rows="20"></textarea>
        </div>

        <input type="text" id="chat-input" />
        <input type="submit" id="chat-submit" />

    </div>

    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + 'RYAN'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            document.querySelector('#chat-log').value += (data.message + "\n")
        }

        chatSocket.onclose = function(e) {
            console.log('Chat Socket closed unexpectedly');
        }

        let chatInput = document.querySelector('#chat-input')
        let chatSubmit = document.querySelector('#chat-submit')
        chatInput.addEventListener(Keyboard, enterMessage)
        console.log(chatInput)

        function enterMessage(e) {
            if (e.keyCode === 13) {
                chatSubmit.click()
            }
        }

        document.querySelector('#chat-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-input')
            const message = messageInputDom.value
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            console.log(message)
            messageInputDom.value = '';
        }
    </script>
</body>
</html>